@CHARSET "ISO-8859-1";

.btn-aula {
	background-color: #D1574A !important;
	color: #FFFFFF;
	border-color: #9d4339;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .6); //
	box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.btn-aula.active, .btn-aula.focus, .btn-aula:active, .btn-aula:focus,
	.btn-aula:hover {
	background-color: #e12622 !important;
	color: #FFFFFF;
	border-color: #b71f1c;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .6);
}

.btnPlay {
	border-radius: 50%;
	font-size: 20px;
}

.btn-cancela {
	background-color: #e6e6e6;
	color: #000000;
	border-color: c3c3c3;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, .6);
}

.btn-cancela.active, .btn-cancela.focus, .btn-cancela:active,
	.btn-cancela:focus, .btn-cancela:hover {
	background-color: #afafaf !important;
	color: #000000;
	border-color: 7a7a7a;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .6);
}

.header-modal-aula {
	background-color: #D1574A !important;
	color: #FFFFFF;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-color: gray;
}
/*
.header-modal-aula.active, .header-modal-aula.focus, .header-modal-aula:active,
	.header-modal-aula:focus, .header-modal-aula:hover {
	background-color: #e12622 !important;
	color: #FFFFFF;
	border-color: #b71f1c;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .6);
}*/

.body-modal-aula {
	background-color: #314357;
	color: #D1574A;
}

.footer-modal-aula {
	background-color: #314357 !important;
	color: #D1574A;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-top-color: gray;
}

.menu-lista {
	width: 170px !important;
	height: 30px !important;
	float: inherit !important;
	margin-left: 4px;
	border-radius: 10px !important;
}

.imgFormula{
	width: 170px;
}

.divImagem{
	color: black;
}


.text-modal{
	color: #BDBDBD !important;
}

.imgFormulaH{
	width: 350px;
}

.title-Tabel{
	text-align: center;
	font-size: large; 
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6), -2px -2px 5px rgba(0, 0, 0, 0.6);
	background-color: rgb(230, 230, 230) !important;
}
.item-Table{
	color: black;
}

